button {
  border-radius: var(--radius-8);
  border: 1px solid transparent;
  box-sizing: border-box;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  /* nasledujuce po skuske vymazat ak nevyhovuje */
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 12px 16px;
  width: auto;
}

.primary {
  background-color: var(--color-blue-500);
  color: #fff;
}

.primary:hover {
  background-color: var(--color-blue-700);
}

.primary:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-neutral-0);
  box-shadow: 0 0 0 4px rgba(153, 160, 174, 1);
}

.secondary {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-600);
}

.secondary:hover {
  background-color: var(--color-neutral-0);
  border: var(--color-neutral-300) 1px solid;
  color: var(--color-neutral-950);
}

.secondary:focus {
  background-color: var(--color-neutral-0);
  border: var(--color-neutral-950) 1px solid;
  color: var(--color-neutral-950);
  box-shadow: 0 0 0 2px var(--color-neutral-0);
  box-shadow: 0 0 0 4px rgba(153, 160, 174, 1);
}

.border {
  background-color: #f0f0f0;
  /* color: var(--color-neutral-950); */
  border: var(--color-neutral-300) 1px solid;
}

.border:hover {
  background-color: var(--color-neutral-100);
  border: none;
  color: var(--color-neutral-600);
}

.border:focus {
  color: var(--color-neutral-950);
  border: var(--color-neutral-950) 1px solid;
  box-shadow: 0 0 0 2px var(--color-neutral-0);
  box-shadow: 0 0 0 4px rgba(153, 160, 174, 1);
}

.danger {
  background-color: var(--color-red-500);
  color: var(--color-neutral-0);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.endIcon {
  margin-left: auto;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  align-items: center;
}

.noEndIcon {
  justify-content: flex-start;
}

.border svg {
  width: 24px;
  height: 25px;
}

.navigation {
  background-color: #fff;
  text-align: left;
  color: var(--color-neutral-700);
  display: flex;
  width: 100%;
}

.textPreset1 {
  font: var(--text-preset-inter-1);
}

.textPreset2 {
  font: var(--text-preset-inter-2);
}

.textPreset3 {
  font: var(--text-preset-inter-3);
}

.textPreset4 {
  font: var(--text-preset-inter-4);
}

.textPreset5 {
  font: var(--text-preset-inter-5);
}

.textPreset6 {
  font: var(--text-preset-inter-6);
}

/* TODO: toto este dorobit, nefunguje to v praxi */

.left {
  justify-content: flex-start;
  text-align: left;
}

.content .center {
  justify-content: center;
  text-align: center;
}

.right {
  justify-content: flex-end;
  text-align: right;
}

.active {
  background-color: var(--color-neutral-100);
}
