* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1168px;
  height: 81px;
  padding: 0 32px;
}

.rightSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}

.headerContainer h3 {
  white-space: nowrap;
  color: var(--color-neutral-950);
  font: var(--text-preset-inter-1);
}

.headerContainer svg {
  align-self: center;
  width: 24px;
  height: 24px;
  color: var(--color-neutral-500);
}
