* {
  margin: 0;
  padding: 0;
}

.notePreviewContainer {
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px solid var(--color-neutral-200);
}

.notePreviewContainer h3 {
  color: var(--color-neutral-950);
  font: var(--text-preset-inter-3);
}

.notePreviewContainer:hover {
  background-color: var(--color-neutral-100);
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.active {
  background-color: var(--color-neutral-100);
  border-radius: 16px;
}

.tag {
  box-sizing: border-box;
  background-color: var(--color-neutral-200);
  font: var(--text-preset-inter-6);
  padding: 2px 6px;
  border-radius: 4px;
}

.date {
  color: var(--color-neutral-700);
  font: var(--text-preset-inter-6);
}
