* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* width: 100%; */
  gap: 16px;
}
