* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.editorPanelContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 24px;
  gap: 16px;
  border-right: 1px solid var(--color-neutral-200);
}

.notePropertyRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 16px;
  width: 100%;
  padding: 4px 0;
  /* zmazat neskor */
  border: 1px solid red;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
  border: 1px solid blue;
}

.value {
  border: 1px solid green;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-neutral-200);
}
