* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.workspaceContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  /* zmaz */
  border: 1px solid gray;
}
